<header>
  <div class="header flex --just-space --align-center">
    <div class="header--logo">
      <img src="/img/header-logo.svg" alt="" srcset="">
    </div>
    <nav class="header--main-menu">
      <ul class="flex --just-space">
        <li>Программы</li>
        <li>О нас</li>
        <li>Предложения</li>
        <li>Вебинары</li>
        <li>Контакты</li>
      </ul>
    </nav>
    <div class="header--contacts flex --just-space --align-center">
      <div class="header--contacts__phone">
        <a href="tel:+79112250644">+7 (911) 225-06-44</a>
      </div>
      <div class="header--contacts__popup-button">
        <button class="btn-default">Написать нам</button>
      </div>
    </div>
  </div>
</header>