<div class="container-inner slider-phone flex --just-center --align-center">
  <div class="slider-phone-left">
    <h5>Статус здоровья</h5>
    <p>Понятная инфографика - всё о вашем здоровье</p>
    <div class="slider-phone-arrows flex">
      <a href="#"><div class="left-arrow"></div></a>
      <a href="#"><div class="right-arrow"></div></a>
    </div>
  </div>
  <div class="slider-phone-right flex">
    <div class="mask">
      <div class="mask-content">
        <img src="../../img/slider_phone_1.webp" alt="" srcset="">
      </div>
    </div>
    <div class="slider-text">
      <h3><span>Трекинг</span>&nbsp;здоровья</h3>
    </div>
  </div>
</div>
<div class="container-inner after-consultation">
  <div class="after-consultation-inner">
    <h5>Что вас ждёт <span>после консультации?</span></h5>
    <div class="after-consultation-inner__text">
      <p>Врач будет и дальше сопровождать вас в чате, отвечая на вопросы по здоровью и терапии.</p>
      <p>Health-коуч поможет с настройкой образа жизни по рекомендациям врача.<br> 
      Благодаря поддержке health-коуча вы сможете изменить образ жизни по многим направлениям: питание, физическая активность, управление стрессом, повышение эффективности, детокс и другим аспектам жизни.</p>
      <p>Мы поможем вам достигнуть эффективного результата в комфортном для вас ритме!</p>
    </div>
  </div>
</div>
<div class="container-inner programs flex --align-center">
  <div class="programs-left col-50 flex --dir-col --just-center">
    <h2>Программы</h2>
    <p>для вашего здоровья</p>
    <div class="slider-phone-arrows flex">
      <a href="#"><div class="left-arrow"></div></a>
      <a href="#"><div class="right-arrow"></div></a>
    </div>
  </div>
  <div class="programs-right col-50 flex">
    <div class="program-card">
      <div class="container-inner flex --dir-col --align-center --just-space">
        <div class="card-name"><h5><span>Check</span> up</h5></div>
        <div class="card-description"><p>Комплексная проверка и индивидуальная программа по восстановлению здоровья</p></div>
        <button class="btn-default card-btn">Подробнее</button>
      </div>
    </div>
    <div class="program-card">
      <div class="container-inner flex --dir-col --align-center --just-space">
        <div class="card-name"><h5>Жить <br><span>без усталости</span></h5></div>
        <div class="card-description"><p>Выявим все причины усталости, стресса, восстановим силы и снимем тревожность
          </p></div>
        <button class="btn-default card-btn">Подробнее</button>
      </div>
    </div>
  </div>
</div>
<div class="container-inner individual flex --dir-col --align-center --just-center">
  <div class="container-inner individual-bg flex --dir-col --align-center --just-center">
    <h2>Индивидуальная программа</h2>
    <p>составьте с врачом программу под ваши цели, от 19 000 ₽</p>
  </div>
  <button class="btn-default">Составить программу</button>
</div>
<div class="container-inner roadmap">
  <h4><span>Дорожная карта</span>персональной настройки здоровья</h4>
  <div class="roadmap-img">
    img
  </div>
</div>
<div class="container-inner form">
  <div class="form-text">
    <h5>Включить<br>настройку здоровья?</h5>
    <p>получите рекомендации по первым шагам бесплатно</p>
  </div>
  <div class="form-input">
    <form>
      <input type="text" name="name" id="">
      <input type="tel" name="tel" id="">
      <input type="text" name="email" id="">
      <input type="submit" value="">
    </form>
  </div>
</div>
