<div class="container-inner support">
  <div class="support-heading">
    <h4>Чем мы можем</br>
      вам <span>помочь?</span></h4>
  </div>
  <div class="support-cards flex --just-space --align-center">
    <div class="support-card">
      <div class="support-card-icon">
      </div>
      <div class="support-card-title">
        <p>Восстановление сил и энергии</p>
      </div>
    </div>
    <div class="support-card">
      <div class="support-card-icon">
      </div>
      <div class="support-card-title">
        <p>Снижение уровня стресса</p>
      </div>
    </div>
    <div class="support-card">
      <div class="support-card-icon">
      </div>
      <div class="support-card-title">
        <p>Восполнение дефицитов</p>
      </div>
    </div>
    <div class="support-card">
      <div class="support-card-icon">
      </div>
      <div class="support-card-title">
        <p>Комплексная<br>оценка здоровья (check-up)</p>
      </div>
    </div>
    <div class="support-card">
      <div class="support-card-icon">
      </div>
      <div class="support-card-title">
        <p>Укрепление иммунитета</p>
      </div>
    </div>
    <div class="support-card">
      <div class="support-card-icon">
      </div>
      <div class="support-card-title">
        <p>Снижение веса</p>
      </div>
    </div>
    <div class="support-card">
      <div class="support-card-icon">
      </div>
      <div class="support-card-title">
        <p>Восстановление пищеварения</p>
      </div>
    </div>
    <div class="support-card">
      <div class="support-card-icon">
      </div>
      <div class="support-card-title">
        <p>Повышение <br>эффективности <br>работы</p>
      </div>
    </div>
    <div class="support-card">
      <div class="support-card-icon">
      </div>
      <div class="support-card-title">
        <p>Восстановление после COVID</p>
      </div>
    </div>
  </div>
</div>
<div class="container-inner situation">
  <div class="situation-callback flex --just-center --align-center --dir-col">
    <h5>Обсудите с врачом <span>вашу</span> ситуацию</h5>
    <p>это бесплатно и займет всего 10 минут</p>
    <button class="btn-white">Записаться на беседу</button>
  </div>
</div>