<div class="container-inner anketa flex">
  <object data="../../img/anketa.svg" type="image/svg+xml" class="anketa-image"></object>
  <div class="anketa-description">
    <div class="anketa-description-subheading">
      <h6>Этапы настройки здоровья</h6>
    </div>
    <div class="anketa-description-heading">
      <h3>Анкета</h3>
    </div>
    <div class="anketa-description-content">
      <ul>
        <li>Онлайн анкета, 10-15 минут</li>
        <li>История вашего здоровья: самочувствие, питание, образ жизни</li>
        <li>Врач изучает анкету, готовясь к консультации (знакомству) с вами</li>
      </ul>
    </div>
    <div class="anketa-description-btn">
      <button class="btn-default">
        Видео о том, как это происходит
      </button>
    </div>
  </div>
</div>