<div class="container-inner subfooter">
  <div class="container-inner our-team flex --just-space --align-center">
    <div class="our-team__portrait flex --dir-col">
      <img src="../../img/sidorov.webp" alt="">
      <p class="portrait-name">Сидоров Максим</p>
      <p class="portrait-description">Ведущий специалист превентивной медицины, кмн</p>
    </div>
    <div class="our-team__text">
      <h5>Мы больше, чем клиника, мы создаём инструменты и трекинг здоровья, который поможет вам управлять своим здоровьем в разных ситуациях.<br>
        Обучаем и поддерживаем вас на всех этапах.</h5>
      <div class="our-team__buttons flex">
        <button class="btn-default">Видеообращение</button>
        <button class="btn-white">Задать вопрос ведущему специалисту</button>
        <a href="#" class="social-block__icon-container">
          <div class="social-block__icon icon__instagram">
          </div>
        </a>
        <a href="#" class="social-block__icon-container">
          <div class="social-block__icon icon__whatsapp">
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="container-inner testimonials flex --dir-col --align-center">
    <h2>Отзывы</h2>
    <div class="testimonials-grid flex --just-space">
      <div class="testimonial testimonial-text">
        <p>Рыбатекст используется дизайнерами, проектировщиками
          и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. </p>
        <div class="testimonial-names">
          <p class="testimonial-name">Иван Иванов</p>
          <p class="testimonial-state">статус/должность</p>
        </div>
      </div>
      <img src="../../img/testimonial2.webp" alt="" class="testimonial testimonial-img">
      <div class="testimonial testimonial-text">
        <p>Рыбатекст используется дизайнерами, проектировщиками
          и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. </p>
        <div class="testimonial-names">
          <p class="testimonial-name">Иван Иванов</p>
          <p class="testimonial-state">статус/должность</p>
        </div>
      </div>
      <img src="../../img/testimonial4.webp" alt="" class="testimonial testimonial-img">
      <img src="../../img/testimonial5.webp" alt="" class="testimonial testimonial-img">
      <div class="testimonial testimonial-text">
        <p>Рыбатекст используется дизайнерами, проектировщиками
          и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. </p>
        <div class="testimonial-names">
          <p class="testimonial-name">Иван Иванов</p>
          <p class="testimonial-state">статус/должность</p>
        </div>
      </div>
      <img src="../../img/testimonial7.webp" alt="" class="testimonial testimonial-img">
      <div class="testimonial testimonial-text">
        <p>Рыбатекст используется дизайнерами, проектировщиками
          и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. </p>
        <div class="testimonial-names">
          <p class="testimonial-name">Иван Иванов</p>
          <p class="testimonial-state">статус/должность</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-inner social-block flex --just-space --align-center">
    <div class="--rounded flex --just-space --align-center">
      <p>Присоединяйтесь! Забота о здоровье еще не была так увлекательна и эффективна!</p>
      <div class="social-block__icons flex --just-space --align-center">
        <a href="#" class="social-block__icon-container">
          <div class="social-block__icon icon__instagram">
          </div>
        </a>
        <a href="#" class="social-block__icon-container">
          <div class="social-block__icon icon__whatsapp">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>